.Activities {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  position: relative; /* Allow positioning of pseudo-element */
  min-height: 100vh; /* Ensure it takes at least the full height */
  color: black; /* Adjust text color for visibility */
}

.Activities::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/trakai-background2.png'); /* Background image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-color: rgba(255, 255, 255);
  opacity: 0.4; /* Set transparency */
  z-index: 0; /* Make sure it is behind the content */
}

.ActivitiesTitle {
  font-family: cursive;
  font-size: 60px;
  position: relative; /* Ensure this is above the background */
  z-index: 1; /* Bring the title above the background */
}

.ActivitiesList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  position: relative; /* Ensure this is above the background */
  z-index: 1; /* Bring the activities list above the background */
}

/* MENU ITEM STYLING */

.ActivitiesItem {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Keep the text color the same */
  display: block; /* Ensure the entire card is clickable */
  height: 350px;
  margin-bottom: 20px;
  width: 290px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Add a hover effect */
  z-index: 100;
  color: black;
}

.activity-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.ActivitiesItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.ActivitiesItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ActivitiesItem h1,
.ActivitiesItem p {
  margin-left: 15px;
  width: 220px;
}

.ActivitiesItem h1  {
  font-size: 26px;
}

.ActivitiesItem p {
  font-size: 14px;
}

@media only screen and (max-width: 1300px) {
  .ActivitiesList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .ActivitiesList {
    grid-template-columns: 1fr;
  }
}
