.guided-tours {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .guided-tours h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .guided-tours p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #666;
  }
  
  .tour-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Add gap between the flex items */
  }
  
  .tour-card {
    flex: 1 1 45%;
    margin: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .tour-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .tour-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .tour-card p {
    font-size: 1rem;
    color: #333;
  }

  .activity-photo {
    max-width: 400px;
    margin-left: 100px;
  }
  
  .tour-buttons {
    margin-top: 15px;
    text-align: center;
  }
  
  .tour-buttons p {
    font-size: 1.8rem;
    color: #333;
  }
  
  .contact-button {
    background-color: #007BFF; /* Customize button color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #0056
  }

  .booking-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  
  .calendar-section, .booking-section {
    width: 48%;
  }
  
  .booking-section form div {
    margin-bottom: 15px;
  }
  
  .map-section {
    margin-top: 40px;
  }
  
  .map-section h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .custom-calendar {
    width: 100%;
  }