.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .headerContainer {
    width: auto;
    margin-left: 50px;
  }
  
  .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: whitesmoke;
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: whitesmoke;
  }
  
  .headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .headerContainer button:hover {
    background-color: #07090a;
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #121619;
      color: white;
    }
  
    .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .headerContainer p {
      font-size: 30px;
      color: white;
    }
  
    .headerContainer button {
      background-color: white;
      color: #121619;
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }

  .ribbon {
    padding-top: 40px;
    text-align: center; /* Center align h2 and ribbon-texts */
  }


  .ribbon-texts {
    display: flex; /* Align .ribbon-item elements in a row */
    justify-content: center; /* Center items horizontally */
    gap: 220px; /* Space between items */
  }
  

  .ribbon-item {
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center image and text horizontally */
  }
  
  
  .ribbon-icon {
    width: 80px; /* Adjust size */
    height: 65px; /* Adjust size */
    margin-bottom: 15px; /* Space between image and text */
  }


  .ribbon p {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }

    .ribbontxt {
      color: aliceblue;
      font-size: 30px;
      font-weight: 700;
      margin: 5px 10;
    }

    .ribbontxt:hover {
      color: cornsilk;
    }


    .secondcontainer {
      background-color: #121619;
      height: 210px;
      padding-top: 10px;
    }

    .thirdcontainer {
      padding: 20px;
      background-color: #f9f9f9;
      text-align: center;
    }
    
    .events-news-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }